<div class="row">
    <div class="offcanvas offcanvas-end" id="offcanvasExample" data-bs-backdrop="false"
         data-bs-scroll=true>
        <div class="offcanvas-header" style="border-bottom: 1px solid #d3d3d38a;">
            <h6 class="offcanvas-title text-center" id="EmpName1"
                style="width: 100%;">
              Bonus Details
            </h6>
            <button type="button" class="btn-close text-reset"
                    data-bs-dismiss="offcanvas"></button>
        </div>
        <div class="offcanvas-body">
            <div class="table-scroll div1">
                <div class="table-wrap">
                    <table class="table table-bordered align-middle" style="width: 100%;">
                        <thead class="text-center">
                            <tr>
                                <th class="text-nowrap">Bonus Year </th>
                                <th class="text-nowrap">Amount</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (ViewBag.GetBonusDetails != "")
                            {
                                foreach (var d in ViewBag.GetBonusDetails)
                                {
                                <tr>
                                    <td>@d.TrainingCalenderName</td>
                                    <td>@d.Batch</td>
                                </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>