
<style>
    /*TeamBX Css*/
    .teambx {
        border: 1px solid gray;
        padding: 10px;
        position: relative;
        display: flex;
        align-items: center;
        margin: 10px 5px;
        border-radius: 10px;
    }

        .teambx .teamheading {
            position: absolute;
            right: 0px;
            bottom: 5px;
            padding: 5px 15px;
            width: fit-content;
            border-radius: 20px 0px 0px 20px;
            background: #000;
            color: #fff;
            text-transform: uppercase;
            letter-spacing: 1px;
            font-weight: 900;
        }

        .teambx .teamname {
            font-size: 16px;
            font-weight: 800;
            border-bottom: 1px solid lightgray;
            margin-bottom: 8px;
        }

    .teamname i {
        margin-right: 0 10px !important;
    }

    .teamcontactBx {
        font-size: 14px;
        text-align: left;
        font-weight: 600;
    }

        .teamcontactBx i {
            margin: 0 5px;
        }
</style>


<!-- #Start SendNotificationModalPopUp modal-dialog -->
@*<div class="modal fade" id="SendNotificationModalPopUp" data-bs-backdrop="static" data-bs-keyboard="true" data-bs-theme="dark">*@
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header bg-black text-white">
                <h4 class="modal-title">Verification Captcha</h4>
                <div class="panel-heading-btn">
                    <a href="javascript:;" class="btn btn-icon btn-danger Close" data-bs-dismiss="modal"
                       aria-hidden="true">
                        <i class="fa fa-xmark"></i>
                    </a>
                </div>
            </div>
            <div class="modal-body">
                <!-- BEGIN panel -->
                <div class="modal-body-content">
                    <div class="row">
                        <div class="col-md-12">
                            <form>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="row mb-15px">
                                            <center>
                                                @*<h6>Devloped By Ashafak Shikalgar</h6>*@
                                                <table>
                                                    <tr>
                                                        <td></td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <input type="text" id="mainCaptcha" readonly="readonly" class="form-control text-center" style="background-color: #ced4da;" /> <br />
                                                            <input type="button" id="refresh" class="form-control" value="Refresh" onclick="generateCaptcha();" />
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <input type="text" id="txtInput" class="form-control" />
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <input id="Button1" type="button" value="Check" onclick="CheckValidCaptcha();" class="form-control btn btn-success" />
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td><span id="error" style="color:red"></span></td>
                                                    </tr>
                                                    <tr>
                                                        <td><span id="success" style="color:green"></span></td>
                                                    </tr>
                                                </table>
                                            </center>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <!-- END panel -->
            </div>
            <div class="modal-footer">
                <button type="button" id="btnCancel" class="btn btn-success btnpress Close" data-bs-dismiss="modal">
                    @*<i class="fa-solid fa-floppy-disk"> </i>*@ Ok
                </button>
                @*<input type="button" class="Ok btn btn-close" data-bs-dismiss="modal" id="btnCancel" value="Cancel" />*@
            </div>
        </div>
    @*</div>*@
</div>
<!-- #End SendNotificationModalPopUp modal-dialog -->
