
@{
    ViewBag.Title = "ESS_TimeOffice_AttendanceLeaveVMS";
    Layout = "~/Views/Shared/_MobileLayout.cshtml";
}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
<style>
    .attendance-container, .leave-container, .vms-container {
        padding: 20px;
        background: #fff;
        border-radius: 10px;
        box-shadow: 0 2px 5px rgba(0,0,0,0.3);
    }

        .attendance-container h2, .leave-container h2, .vms-container h2 {
            margin-bottom: 10px;
            color: #333;
        }

    .attendance-boxes, .leave-boxes, .vms-boxes {
        display: flex;
        flex-wrap: nowrap;
        gap: 20px;
        justify-content: flex-start;
    }

    .attendance-box, .leave-box, .vms-box {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 20px;
        text-align: left;
        border-radius: 8px;
        transition: transform 0.3s ease;
    }

        .attendance-box:hover, .leave-box:hover, .vms-box:hover {
            transform: translateY(-5px);
        }

        .attendance-box i, .leave-box i, .vms-box i {
            font-size: 2em;
            margin-bottom: 10px;
            color: #007bff;
        }

        .attendance-box h3, .leave-box h3, .vms-box h3 {
            text-align: center;
            margin: 0;
            font-size: 1.1em;
            color: #555;
        }

    @@media screen and (max-width: 500px) {
        .attendance-box, .leave-box, .vms-box {
            padding: 10px;
        }

            .attendance-box h3, .leave-box h3, .vms-box h3 {
                font-size: 0.8em;
            }

            .attendance-box i, .leave-box i, .vms-box i {
                font-size: 1.5em;
            }

        .attendance-container h2, .leave-container h2, .vms-container h2 {
            font-size: 0.9em;
        }

        .sliderCard{
            margin-top:40px;
        }
    }

    .swiper {
        width: 100%;
/*        height: 100%;*/
    }

    .swiper-slide {
        width:100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
</style>


<div id="content" class="app-content bg-white">
    
    <div class="row sliderCard">
        <div class="col-md-12 ui-sortable ">
            <div class="panel panel-inverse" style="margin-bottom:0px !important;" data-sortable-id="index-1">
                
                <!-- END panel-heading -->
                <div class="panel-body" style="padding:0px;">
                    <div class="swiper mySwiper">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <div class="widget widget-stats bg-blue" style="margin:0px; width:100% !important;" >
                                    <div class="stats-icon stats-icon-lg"><i class="fa fa-dollar-sign fa-fw"></i></div>
                                    <div class="stats-content" style="height:120px;">
                                        <div class="stats-title">Shift Change</div>
                                        <div class="stats-number">
                                            <a href="/ESS/ESS_TimeOffice_ShiftChange/GetList" id="anchorApprovals" style="color:white;" onclick="Showdata('RECR03','Approvals pending with me')">2</a>
                                        </div>
                                        <div class="stats-progress progress">
                                            <div class="progress-bar" style="width: 40.5%;"></div>
                                        </div>
                                        <div class="stats-desc">Open raised by me</div>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="widget widget-stats bg-teal" style="margin: 0px; width: 100% !important;">
                                    <div class="stats-icon stats-icon-lg"><i class="fa fa-globe fa-fw"></i></div>
                                    <div class="stats-content" style="height:120px;">
                                        <div class="stats-title">OutDoor</div>
                                        <div class="stats-number">
                                            <a href="/ESS/ESS_TimeOffice_OutDoor/ESS_TimeOffice_GetApproveRejectList" id="anchorApprovals" style="color:white;" onclick="Showdata('RECR03','Approvals pending with me')">0</a>
                                        </div>
                                        <div class="stats-progress progress">
                                            <div class="progress-bar" style="width: 40.5%;"></div>
                                        </div>
                                        <div class="stats-desc">Open raised by me</div>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="widget widget-stats bg-purple" style="margin: 0px; width: 100% !important;">
                                    <div class="stats-icon stats-icon-lg"><i class="fa fa-archive fa-fw"></i></div>
                                    <div class="stats-content" style="height:120px;">
                                        <div class="stats-title">Personal Gatepass</div>
                                        <div class="stats-number">
                                            <a href="/ESS/ESS_TimeOffice_PersonalGatePass/ESS_TimeOffice_GetApproveRejectPersOnalGatepassList" id="AchorRequsitions" onclick="Showdata('RECR01','Open raised by me')" style="color:white;">0</a>
                                        </div>
                                        <div class="stats-progress progress">
                                            <div class="progress-bar" style="width: 76.3%;"></div>
                                        </div>
                                        <div class="stats-desc">Open raised by me </div>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="widget widget-stats bg-dark" style="margin: 0px; width: 100% !important;">
                                    <div class="stats-icon stats-icon-lg"><i class="fa fa-comment-alt fa-fw"></i></div>
                                    <div class="stats-content" style="height:120px;">
                                        <div class="stats-title">Work From Home</div>
                                        <div class="stats-number"><a href="/ESS/ESS_TimeOffice_WHF/ESS_TimeOffice_WHF_ApprovalandrejectList" id="AchorCandidate" onclick="Showdata('CandidatesPendingForAction','Candidates Pending for actions')" style="color:white;"> 0 </a></div>
                                        <div class="stats-progress progress">
                                            <div class="progress-bar" style="width: 54.9%;"></div>
                                        </div>
                                        <div class="stats-desc"> Open raised by me</div>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="widget widget-stats bg-orange" style="margin: 0px; width: 100% !important;">
                                    <div class="stats-icon stats-icon-lg"><i class="fa fa-file-alt fa-fw"></i></div>
                                    <div class="stats-content" style="height:120px;">
                                        <div class="stats-title">Punch Missing</div>
                                        <div class="stats-number">
                                            <a href="/ESS/ESS_TimeOffice_PunchMissing/ESS_TimeOffice_GetPunchMissingApprovalpendingList" id="AnchorInterview" onclick="Showdata('RECR07','Interviews pending with me')" style="color:white;">2</a>
                                        </div>
                                        <div class="stats-progress progress">
                                            <div class="progress-bar" style="width: 23.5%;"></div>
                                        </div>
                                        <div class="stats-desc">Open raised by me</div>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="widget widget-stats bg-pink" style="margin: 0px; width: 100% !important;">
                                    <div class="stats-icon stats-icon-lg"><i class="fa fa-exclamation-triangle fa-fw"></i></div>
                                    <div class="stats-content" style="height:120px;">
                                        <div class="stats-title">Approval</div>
                                        <div class="stats-number">
                                            <a href="/ESS/ESS_TimeOffice_Approval/ESS_TimeOffice_Approval" id="AnchorDatabaseCandidates" onclick="Showdata('DatabaseCandidates','Database Candidates')" style="color:white;">8</a>
                                        </div>
                                        <div class="stats-progress progress">
                                            <div class="progress-bar" style="width: 10.5%;"></div>
                                        </div>
                                        <div class="stats-desc">Pending Request</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- END widget-list -->
                <!-- END col-12 -->
            </div>
        </div>
    </div>

    <div class="row mt-10px">
        <div class="col-lg-12 col-md-12 ui-sortable">
            <!-- BEGIN panel -->

            <div class="attendance-container">
                <h2><strong>Attendance</strong></h2>
                <div class="attendance-boxes">
                    <div class="attendance-box">
                        <i class="fa-solid fa-building-circle-arrow-right"></i>
                        <h3>Official Outdoor</h3>
                    </div>
                    <div class="attendance-box">
                        <i class="fa-solid fa-right-from-bracket"></i>
                        <h3>Personal Gatepass</h3>
                    </div>
                    <div class="attendance-box">
                        <i class="fa-solid fa-fingerprint"></i>
                        <h3>Punch Missing</h3>
                    </div>
                </div>
                <div class="attendance-boxes">
                    <div class="attendance-box">
                        <i class="fa-solid fa-house-laptop"></i>
                        <h3>Work From Home</h3>
                    </div>
                    <div class="attendance-box">
                        <i class="fa-solid fa-right-left"></i>
                        <h3>Shift Change</h3>
                    </div>
                    <div class="attendance-box">
                        <i class="fa-regular fa-circle-right"></i>
                        <h3>More</h3>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="row mt-10px">
        <div class="col-lg-12 col-md-12 ui-sortable">
            <!-- BEGIN panel -->

            <div class="leave-container">
                <h2><strong>Leave</strong></h2>
                <div class="leave-boxes">
                    <div class="leave-box">
                        <i class="fa-solid fa-calendar"></i>
                        <h3>Leave</h3>
                    </div>
                    <div class="leave-box">
                        <i class="fa-solid fa-pen-to-square"></i>
                        <h3>COFF Requistion</h3>
                    </div>
                    <div class="leave-box">
                        <i class="fa-regular fa-circle-right"></i>
                        <h3>More</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row mt-10px">
        <div class="col-lg-12 col-md-12 ui-sortable">
            <!-- BEGIN panel -->

            <div class="vms-container">
                <h2><strong>VMS</strong></h2>
                <div class="vms-boxes">
                    <div class="vms-box">
                        <i class="fa-solid fa-calendar-check"></i>
                        <h3>Appointment</h3>
                    </div>
                    <div class="vms-box">
                        <i class="fa-solid fa-location-crosshairs"></i>
                        <h3>CheckOut</h3>
                    </div>
                    <div class="vms-box">
                        <i class="fa-regular fa-circle-right"></i>
                        <h3>More</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Swiper JS -->
<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>

<!-- Initialize Swiper -->
<script>
    var swiper = new Swiper(".mySwiper", {
        spaceBetween: 30,
        centeredSlides: true,
        autoplay: {
            delay: 2500,
            disableOnInteraction: false,
        },
        pagination: {
            el: ".swiper-pagination",
            clickable: true,
        },
        navigation: {
            nextEl: ".swiper-button-next",
            prevEl: ".swiper-button-prev",
        },
    });
</script>