
@{
    ViewBag.Title = "ProfileSetting_Menu";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!-- ================== Icon Css ================== -->
<link href="~/assets/MyCDN/MenuFontStyle.css" rel="stylesheet" />
<link href="~/assets/MyCSS/MenuImages.css" rel="stylesheet" />
<link href="~/Content/Site.css" rel="stylesheet" />
<!-- ================== End SWEEand css ================== -->


<div id="content" class="app-content">
    <div class="pageHeader d-flex align-items-center justify-content-between" style="flex-wrap:nowrap;">
        <h5 class="page-header text-center text-md-start">Profile Setting</h5>
        <ol style="list-style: none; padding: 0; margin: 0; display: flex;">
            <li style="margin-right: 10px;">
                <a href="@Url.Action("Dashboard", "Dashboard", new { area = "" })">
                    <img src="~/assets/MenuImages/Home.png" style="max-width: 100%; height: auto;" alt="Home">
                </a>
            </li>
        </ol>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-inverse" data-sortable-id="index-1">
                <div class="alert alert-yellow rounded-0 pb-0 d-flex align-items-center mb-0 text-black">
                    <p>
                        <b>Profile Setting</b> menu enables users to manage their account security. It includes options to securely change their password and configure two-factor authentication (2FA) for enhanced login protection.
                    </p>
                </div>

                <div class="panel-body">
                    <div class="gradientLine-Div">
                        <div class="gradientLine1"> </div>
                        <div><strong>Menu</strong></div>
                        <div class="gradientLine2"> </div>
                    </div>


                    <div class="row">
                        <div class="col-md-12">
                            <div class="row" style="padding: 0px 5px;">
                                    <a href="@Url.Action("ProfileSetting_ChangePassword", "ProfileSetting", new { area = ""})" class="col-md-2 col-3 d-flex" style="text-decoration:none !important; padding: 0px 5px;">

                                        <div class="quickLinks-box" style="margin-bottom: 10px;">
                                            <img src="~/assets/MenuImages/ChangePasword.png" width="50px" height="50px" />
                                            <h3>Change Password</h3>
                                        </div>
                                    </a>

                                    <a href="@Url.Action("ProfileSetting_MFA", "ProfileSetting", new { area = ""})" class="col-md-2 col-3 d-flex" style="text-decoration:none !important; padding: 0px 5px;">

                                        <div class="quickLinks-box" style="margin-bottom: 10px;">
                                            <img src="~/assets/MenuImages/2FA Auth.png" width="50px" height="50px" />
                                            <h3>2FA Authentication</h3>
                                        </div>
                                    </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
