
@{
    ViewBag.Title = "RDLC_Report_View";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="content" class="app-content">
    <!-- BEGIN breadcrumb -->
    <ol class="breadcrumb float-xl-end">
        <li class="breadcrumb-item"><a href="/Dashboard/Dashboard/Dashboard">Dashboard</a></li>
    </ol>
    <!-- END breadcrumb -->
    <!-- BEGIN page-header -->
    <h1 class="page-header"> RDlC </h1>
    <!-- END page-header -->
    @*Start New UI*@
    <div class="alert alert-yellow rounded-0 pb-0 d-flex align-items-center mb-0 text-black">
        <p class="pb-0">
            The recruitment model allows authorized users to request resources, reserve candidate lists, schedule interviews with managers, and seek closer. From resource requests to closing positions, the recruitment module provides end-to-end functionality.
        </p>
    </div>
    <br />
    <div class="row">
        <div class="col-lg-12 col-md-12">
            <!-- BEGIN panel -->
            <div class="panel panel-inverse" data-sortable-id="index-1">
                <div class="panel-heading">
                    <h4 class="panel-title">@*@i.SET_MODULES.FormName*@</h4>
                    <div class="panel-heading-btn">
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-default" data-toggle="panel-expand"><i class="fa fa-expand"></i></a>
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-success" data-toggle="panel-reload"><i class="fa fa-redo"></i></a>
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-warning" data-toggle="panel-collapse"><i class="fa fa-minus"></i></a>
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-danger" data-toggle="panel-remove"><i class="fa fa-times"></i></a>
                    </div>
                </div>
                <div class="panel-body" style="max-height: fit-content;">
                    <div class="row">

                        <div class="col-md-12">
                            <input type="submit" value="submit" />
                            <iframe src="~/Report/Rdlc_Report_webForm.aspx" width="100%" height="400px"></iframe>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  
</div>



