body {
    padding-top: 10px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}


/*THIS BELOW CSS USE FORM SMALL MENU PAGES HOME ICON BUTTON*/ 
.pageHeader {
    margin: 50px 0px 0px !important;
}

.pageHeader {
    margin-bottom: 5px !important;
}

.page-header {
    font-size: 18px !important;
    margin: 0px !important;
}

.breadcrumb a {
    text-align: right;
}
