
@{
    ViewBag.Title = "Reports_Form16";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<style>
    .width-45 {
        width: 45px !important;
    }

    .table {
        --bs-table-striped-bg: rgba(0, 0, 255, 0.02);
    }

    .text-nowrap {
        font-size: 12px;
    }

    tbody tr td {
        font-size: 12px;
        padding: 4px !important;
    }

    .ListBtn {
        font-size: 10px !important;
        padding: 5px 8px !important;
    }
    /*table first column fixed*/
    .table-wrap {
        width: 100%;
        overflow: auto;
    }

    .table-scroll table {
        width: 100%;
        margin: auto;
        border-collapse: separate;
        border-spacing: 0;
    }

    .table-scroll th, .table-scroll td {
        padding: 5px 10px;
        border: 1px solid lightgray;
        background: #fff;
        white-space: nowrap;
        vertical-align: top;
    }

    .table-scroll th {
        background-color: rgba(233, 236, 239, 1) !important;
    }
</style>

<div id="content" class="app-content">
    <!-- BEGIN breadcrumb -->
    <div class="row" style="margin-bottom: 10px;">
        <div class="col-md-12" style="display: flex; justify-content: space-between; align-items: center;">
            <h1 style="font-size: 18px; font-family: roboto; transform: translateY(4px); margin: 0;">
                Form 16
            </h1>
            <ol style="list-style: none; padding: 0; margin: 0; display: flex;">
                <li style="margin-right: 10px;">
                    <a href="@Url.Action("Dashboard", "Dashboard", new { area = "" })">
                        <img src="~/assets/MenuImages/Home.png" style="max-width: 100%; height: auto;" alt="Home">
                    </a>
                </li>
                <li>
                    <a href="@Url.Action("Report_MyAtttendance_RptMenu", "Report_MyAtttendance_RptMenu", new {id = 23, ScreenId= 376, area = "Reports" })">
                        <img src="~/assets/MenuImages/Back.png" style="max-width: 100%; height: auto;" alt="Back">
                    </a>
                </li>
            </ol>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <!-- BEGIN panel -->
            <div class="panel panel-inverse" data-sortable-id="index-1">
                <div class="panel-heading" style="background-color:@Session["HeaderColor"]; color:@Session["HeaderTextColor"]">
                    <h4 class="panel-title">Form 16</h4>
                   
                </div>
                <div class="alert alert-yellow rounded-0 pb-0 d-flex align-items-center mb-0 text-black">
                    <p>
                        Download form16 here...
                    </p>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-12">
                           
                            <!-- BEGIN table-responsive -->
                            <div class="table-responsive1">
                                <table class="table table-bordered align-middle" id="fixed-header">
                                    <thead>
                                        <tr>
                                            <th width="20px" class="text-nowrap">Download</th>
                                            <th class="text-nowrap">File Name</th>
                                            
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var file in (List<Tuple<string, string>>)ViewBag.FileList)
            {
                                            <tr>
                                                <td width="20px" class="text-center ">
                                                    <a href="@Url.Action("DownloadFile", "Reports_Form16", new { fileName = file.Item1 })">
                                                        <i class="fa-solid fa-download text-primary fa-lg" style="color:black"></i>
                                                    </a>
                                                </td>
                                                <td>@file.Item1</td>
                                                
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>