<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8" />
    <title id="SetTitle">KompassHR</title>
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport" />
    <meta content="" name="description" />
    <meta content="" name="author" />
    <link rel="icon" href="~/assets/img/logo/KompassHR.png" type="image/x-icon">
    <!-- ================== BEGIN core-css ================== -->
    <link href="~/assets/css/vendor.min.css" rel="stylesheet" />
    <link href="~/assets/css/default/app.min.css" rel="stylesheet" />
    <!-- ================== END core-css ================== -->
    <!-- ================== BEGIN page-css ================== -->
    <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/2.6.0/uicons-brands/css/uicons-brands.css'>


    <link href="~/assets/plugins/jvectormap-next/jquery-jvectormap.css" rel="stylesheet" />
    <link href="~/assets/plugins/bootstrap-datepicker/dist/css/bootstrap-datepicker.css" rel="stylesheet" />
    @*<link href="~/assets/plugins/gritter/css/jquery.gritter.css" rel="stylesheet" />*@
    <!-- ================== END page-css ================== -->
    <!-- ================== BEGIN Map-css ================== -->
    <link href="~/assets/plugins/jvectormap-next/jquery-jvectormap.css" rel="stylesheet" />
    <!-- ================== END Map-css ================== -->
    <!-- required files -->
    <!-- ================== BEGIN page-css ================== -->
    <link href="~/assets/plugins/datatables.net-bs5/css/dataTables.bootstrap5.min.css" rel="stylesheet" />
    <link href="~/assets/plugins/datatables.net-responsive-bs5/css/responsive.bootstrap5.min.css"
          rel="stylesheet" />
    <link href="~/assets/plugins/datatables.net-fixedheader-bs5/css/fixedHeader.bootstrap5.min.css"
          rel="stylesheet" />
    <!-- ================== END page-css ================== -->
    <!-- ================== Start LOADRE-Js and css ================== -->
    <link href="~/assets/plugins/Loader/Loader.css" rel="stylesheet" />
    <script src="~/assets/plugins/Loader/Loader.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <!-- ================== End LOADRE-Js and css ================== -->
    <!-- ================== All Scripts Use In All Page ================== -->
    <script src="~/scripts/jquery-1.10.2.js"></script>
    <script src="~/scripts/jquery-1.10.2.min.js"></script>
    <script src="~/scripts/jquery.validate.js"></script>
    <script src="~/scripts/jquery.validate.min.js"></script>
    <script src="~/assets/plugins/sweetalert/dist/sweetalert.min.js"></script>
    <script src="~/assets/plugins/parsleyjs/dist/parsley.min.js"></script>
    <!-- ================== End SAll Scripts Use In All Page ================== -->
    <!-- ================== End SWEETALERT-Js and css ================== -->
    <script src="~/assets/SweetAlert/sweetalert2.all.js"></script>
    <script src="~/assets/SweetAlert/sweetalert2.all.min.js"></script>
    <link href="~/assets/SweetAlert/sweetalert2.min.css" rel="stylesheet" />
    <script src="~/assets/SweetAlert/sweetalert2.min.js"></script>
    <script src="~/assets/SweetAlert/sweetalert2.js"></script>
    <link href="~/assets/SweetAlert/sweetalert2.css" rel="stylesheet" />
    <!-- ================== End SWEETALERT-Js and css ================== -->

    <style>
        .pace {
            display: none;
        }

        .app-sidebar .menu .menu-item .menu-link .menu-text {
            font-size: 13PX;
        }

        input[type="search" i]::-webkit-search-cancel-button {
            margin-right: 20px;
        }

        .icon3 {
            position: relative;
        }

            .icon3 i {
                font-size: 16px;
                margin: 0;
                display: flex;
                align-items: center;
                justify-content: center;
            }

        .badge3 {
            position: absolute;
            top: -8px;
            display: block;
            background: var(--app-theme);
            line-height: 12px;
            font-weight: 600;
            color: var(--app-theme-color);
            padding: 1px 4px;
            font-size: 8px;
            border-radius: 8px;
            right: -5px;
            z-index: 99;
        }
    </style>

    <style>
        .col-md-1-5 {
            width: 12.45%;
        }

        .icon3 {
            position: relative;
        }

            .icon3 i {
                font-size: 16px;
                margin: 0;
                display: flex;
                align-items: center;
                justify-content: center;
            }

        .badge3 {
            position: absolute;
            top: -8px;
            display: block;
            background: var(--app-theme);
            line-height: 12px;
            font-weight: 600;
            color: var(--app-theme-color);
            padding: 1px 4px;
            font-size: 8px;
            border-radius: 8px;
            right: -5px;
            z-index: 99;
        }



        .important {
            color: red;
        }

        .app-header .navbar-nav .navbar-item .navbar-link {
            margin-right: 40px;
        }

        .col-form-label {
            font-weight: 400;
        }

        .app-content {
            margin-left: 0px;
        }

        @@media only screen and (max-width: 600px) {
            .col-md-1-5 {
                width: 50%;
                margin: 10px 0;
            }

            .app-header .navbar-nav .navbar-item .navbar-link {
                margin-right: 0px;
            }
        }

        @@media only screen and (min-width: 600px) {
            .col-md-1-5 {
                width: 50%;
                margin: 10px 0;
            }
        }



        @@media only screen and (min-width: 768px) {
            .col-md-1-5 {
                width: 33.33%;
                margin: 10px 0;
            }
        }

        @@media only screen and (min-width: 992px) {
            .col-md-1-5 {
                width: 25%;
                margin: 10px 0;
            }
        }

        @@media only screen and (min-width: 1200px) {

            .col-md-1-5 {
                width: 14.28%;
            }
        }
    </style>

    <style>
        .Userloaderbg {
            background: rgb(0 0 0 / 90%);
            display: flex;
            flex-direction: column;
        }

        .Userloader {
            width: 48px;
            height: 48px;
            border-radius: 50%;
            display: inline-block;
            position: relative;
            border: 3px solid;
            border-color: #FFF #FFF transparent transparent;
            box-sizing: border-box;
            animation: rotation 1s linear infinite;
        }

            .Userloader::after,
            .Userloader::before {
                content: '';
                box-sizing: border-box;
                position: absolute;
                left: 0;
                right: 0;
                top: 0;
                bottom: 0;
                margin: auto;
                border: 3px solid;
                border-color: transparent transparent #FF3D00 #FF3D00;
                width: 40px;
                height: 40px;
                border-radius: 50%;
                box-sizing: border-box;
                animation: rotationBack 0.5s linear infinite;
                transform-origin: center center;
            }

            .Userloader::before {
                width: 32px;
                height: 32px;
                border-color: #FFF #FFF transparent transparent;
                animation: rotation 1.5s linear infinite;
            }

        .loadingtext {
            color: #FFF;
            display: inline-block;
            position: relative;
            font-size: 18px;
            font-family: Arial, Helvetica, sans-serif;
            box-sizing: border-box;
            margin-top: 10px;
        }

            .loadingtext::after {
                content: '';
                width: 4px;
                height: 4px;
                background: currentColor;
                border-radius: 50%;
                position: absolute;
                bottom: 5px;
                right: -10px;
                box-sizing: border-box;
                animation: animloader 1s linear infinite;
            }

        @@keyframes animloader {
            0% {
                box-shadow: 10px 0 rgba(255, 255, 255, 0), 20px 0 rgba(255, 255, 255, 0);
            }

            50% {
                box-shadow: 10px 0 white, 20px 0 rgba(255, 255, 255, 0);
            }

            100% {
                box-shadow: 10px 0 white, 20px 0 white;
            }
        }

        @@keyframes rotation {
            0% {
                transform: rotate(0deg);
            }

            100% {
                transform: rotate(360deg);
            }
        }

        @@keyframes rotationBack {
            0% {
                transform: rotate(0deg);
            }

            100% {
                transform: rotate(-360deg);
            }
        }
    </style>

    <style>
        .modal-body-content {
            position: relative;
        }

        .table-responsive {
            height: 400px;
            overflow-y: auto;
        }

        .table thead th {
            position: sticky;
            top: 0;
            z-index: 2;
            background-color: rgba(233, 236, 239, 1) !important; /* Ensure the background color matches */
        }

        /*THIS VIDEO FORM COLOR-PROFILE PICTURE CSS*/
        .image-container {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh; /* Center the image vertically */
        }

        .circle-image {
            width: 50px; /* Adjust the size as needed */
            height: 50px; /* Ensure width and height are equal to make a circle */
            border-radius: 50%;
            object-fit: cover; /* Ensures the image covers the entire container */
        }

        .zoomable-image {
            display: block;
            width: 100%;
            height: auto;
            transition: transform 0.3s ease; /* Smooth transition effect */
        }

            .zoomable-image:hover {
                transform: scale(1.5); /* Initial zoom effect on hover */
                z-index: 999; /* Ensure the image appears on top */
            }

        .extra-zoom:hover {
            transform: scale(2.5); /* Extra zoom effect on hover */
        }
    </style>

    <style>
        #timer {
            font-size: 15px;
            font-weight: bold;
            color: #d9534f;
            margin-top: 5px;
        }
    </style>

</head>
<body>
    <!-- BEGIN #loader -->

    <div class="Userloaderbg app-loader" id="loader">
        <span class="Userloader"></span>
        <span class="loadingtext">Loading</span>
    </div>
    @*$(".Userloaderbg").css("display","flex"); // Add Loader
        $(".Userloaderbg").css("display","none"); // Remove Loader*@

    <!-- END #loader -->
    <!-- BEGIN #app -->
    <div id="app" class="app app-header-fixed app-sidebar-fixed ">
        <!-- BEGIN #header -->




        <div>
            @RenderBody()
        </div>

    </div>

    <!-- Footer -->
    <!-- Include Bootstrap CSS and Font Awesome in the <head> section -->
    <!-- Responsive Footer -->
    @*<footer class="app-footer fixed-bottom bg-light">
            <div class="container-fluid">
                <div class="row text-center py-2">
                    <div class="col">
                        <a href="#" class="footer-menu d-block">
                            <i class="fa fa-home fa-lg"></i>
                            <span class="d-block">Home</span>
                        </a>
                    </div>
                    <div class="col">
                        <a href="#" class="footer-menu d-block">
                            <i class="fa fa-search fa-lg"></i>
                            <span class="d-block">Search</span>
                        </a>
                    </div>
                    <div class="col">
                        <a href="#" class="footer-menu d-block">
                            <i class="fa fa-plus-circle fa-lg"></i>
                            <span class="d-block">Add</span>
                        </a>
                    </div>
                    <div class="col">
                        <a href="#" class="footer-menu d-block">
                            <i class="fa fa-bell fa-lg"></i>
                            <span class="d-block">Notifications</span>
                        </a>
                    </div>
                    <div class="col">
                        <a href="#" class="footer-menu d-block">
                            <i class="fa fa-user fa-lg"></i>
                            <span class="d-block">Profile</span>
                        </a>
                    </div>
                </div>
            </div>
        </footer>*@



    @*<div class="footer" style="text-align:center; font-size:10px; font-weight:600; background-color:#c1c1c1; position:fixed; width:100%; bottom:0px; z-index:999; height:17px; line-height:10px;">
            <span id="timer" style="position:absolute; right:10px; font-size:14px; font-weight:800;"> 00:00</span>
        </div>*@

    <script src="~/assets/js/vendor.min.js"></script>
    <script src="~/assets/js/app.min.js"></script>
    <!-- ================== END core-js ================== -->
    <!-- ================== BEGIN page-js ================== -->
    @*<script src="~/assets/plugins/gritter/js/jquery.gritter.js"></script>*@
    <script src="~/assets/plugins/flot/source/jquery.canvaswrapper.js"></script>
    <script src="~/assets/plugins/flot/source/jquery.colorhelpers.js"></script>
    <script src="~/assets/plugins/flot/source/jquery.flot.js"></script>
    <script src="~/assets/plugins/flot/source/jquery.flot.saturated.js"></script>
    <script src="~/assets/plugins/flot/source/jquery.flot.browser.js"></script>
    <script src="~/assets/plugins/flot/source/jquery.flot.drawSeries.js"></script>
    <script src="~/assets/plugins/flot/source/jquery.flot.uiConstants.js"></script>
    <script src="~/assets/plugins/flot/source/jquery.flot.time.js"></script>
    <script src="~/assets/plugins/flot/source/jquery.flot.resize.js"></script>
    <script src="~/assets/plugins/flot/source/jquery.flot.pie.js"></script>
    <script src="~/assets/plugins/flot/source/jquery.flot.crosshair.js"></script>
    <script src="~/assets/plugins/flot/source/jquery.flot.categories.js"></script>
    <script src="~/assets/plugins/flot/source/jquery.flot.navigate.js"></script>
    <script src="~/assets/plugins/flot/source/jquery.flot.touchNavigate.js"></script>
    <script src="~/assets/plugins/flot/source/jquery.flot.hover.js"></script>
    <script src="~/assets/plugins/flot/source/jquery.flot.touch.js"></script>
    <script src="~/assets/plugins/flot/source/jquery.flot.selection.js"></script>
    <script src="~/assets/plugins/flot/source/jquery.flot.symbol.js"></script>
    <script src="~/assets/plugins/flot/source/jquery.flot.legend.js"></script>
    <script src="~/assets/plugins/jquery-sparkline/jquery.sparkline.min.js"></script>
    <script src="~/assets/plugins/jvectormap-next/jquery-jvectormap.min.js"></script>
    <script src="~/assets/plugins/jvectormap-content/world-mill.js"></script>
    <script src="~/assets/plugins/bootstrap-datepicker/dist/js/bootstrap-datepicker.js"></script>
    <script src="~/assets/js/demo/dashboard.js"></script>
    <!-- ================== END page-js ================== -->
    <!-- ================== Vector Map page-js ================== -->
    <script src="~/assets/plugins/jvectormap-next/jquery-jvectormap.min.js"></script>
    <script src="~/assets/plugins/jvectormap-content/world-mill.js"></script>
    <script src="~/assets/js/demo/map-vector.demo.js"></script>
    <!-- ================== End Map -js ================== -->

    <script src="~/assets/plugins/chart.js/dist/chart.min.js"></script>
    <script src="~/assets/js/demo/chart-js.demo.js"></script>

    <!-- ================== BEGIN page-js ================== -->
    <script src="~/assets/plugins/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="~/assets/plugins/datatables.net-bs5/js/dataTables.bootstrap5.min.js"></script>
    <script src="~/assets/plugins/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
    <script src="~/assets/plugins/datatables.net-responsive-bs5/js/responsive.bootstrap5.min.js"></script>
    <script src="~/assets/plugins/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js"></script>
    <script src="~/assets/plugins/datatables.net-fixedheader-bs5/js/fixedHeader.bootstrap5.min.js"></script>
    <script src="~/assets/js/demo/table-manage-fixed-header.demo.js"></script>
    <script src="~/assets/js/demo/render.highlight.js"></script>
    <!-- ================== END page-js ================== -->
    <!-- ================== BEGIN combined extensiontable css ================== -->
    <link href="~/assets/plugins/datatables.net-bs5/css/dataTables.bootstrap5.min.css" rel="stylesheet" />
    <link href="~/assets/plugins/datatables.net-responsive-bs5/css/responsive.bootstrap5.min.css" rel="stylesheet" />
    <link href="~/assets/plugins/datatables.net-buttons-bs5/css/buttons.bootstrap5.min.css" rel="stylesheet" />
    <link href="~/assets/plugins/datatables.net-colreorder-bs5/css/colReorder.bootstrap5.min.css" rel="stylesheet" />
    <link href="~/assets/plugins/datatables.net-keytable-bs5/css/keyTable.bootstrap5.min.css" rel="stylesheet" />
    <link href="~/assets/plugins/datatables.net-rowreorder-bs5/css/rowReorder.bootstrap5.min.css" rel="stylesheet" />
    <link href="~/assets/plugins/datatables.net-select-bs5/css/select.bootstrap5.min.css" rel="stylesheet" />
    <!-- ================== END combined extensiontable css ================== -->
    <!-- ================== BEGIN combined extensiontable js ================== -->
    <script src="~/assets/plugins/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="~/assets/plugins/datatables.net-bs5/js/dataTables.bootstrap5.min.js"></script>
    <script src="~/assets/plugins/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
    <script src="~/assets/plugins/datatables.net-responsive-bs5/js/responsive.bootstrap5.min.js"></script>
    <script src="~/assets/plugins/datatables.net-colreorder/js/dataTables.colReorder.min.js"></script>
    <script src="~/assets/plugins/datatables.net-colreorder-bs5/js/colReorder.bootstrap5.min.js"></script>
    <script src="~/assets/plugins/datatables.net-keytable/js/dataTables.keyTable.min.js"></script>
    <script src="~/assets/plugins/datatables.net-keytable-bs5/js/keyTable.bootstrap5.min.js"></script>
    <script src="~/assets/plugins/datatables.net-rowreorder/js/dataTables.rowReorder.min.js"></script>
    <script src="~/assets/plugins/datatables.net-rowreorder-bs5/js/rowReorder.bootstrap5.min.js"></script>
    <script src="~/assets/plugins/datatables.net-select/js/dataTables.select.min.js"></script>
    <link href="~/assets/plugins/datatables.net-select-bs5/css/select.bootstrap5.min.css" rel="stylesheet" />
    <script src="~/assets/plugins/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
    <script src="~/assets/plugins/datatables.net-buttons-bs5/js/buttons.bootstrap5.min.js"></script>
    <script src="~/assets/plugins/datatables.net-buttons/js/buttons.colVis.min.js"></script>
    <script src="~/assets/plugins/datatables.net-buttons/js/buttons.flash.min.js"></script>
    <script src="~/assets/plugins/datatables.net-buttons/js/buttons.html5.min.js"></script>
    <script src="~/assets/plugins/datatables.net-buttons/js/buttons.print.min.js"></script>
    <script src="~/assets/plugins/pdfmake/build/pdfmake.min.js"></script>
    <script src="~/assets/plugins/pdfmake/build/vfs_fonts.js"></script>
    <script src="~/assets/plugins/jszip/dist/jszip.min.js"></script>
    <script src="~/assets/plugins/tag-it/js/tag-it.min.js"></script>

    <!-- ================== END combined extensiontable js ================== -->

    <link href="~/assets/plugins/select2/dist/css/select2.min.css" rel="stylesheet" />
    <script src="~/assets/plugins/select2/dist/js/select2.min.js"></script>

    <link href="~/assets/css/CustomStyle.css" rel="stylesheet" />
    <script src="~/assets/js/CustomJs.js"></script>
    <!-- ================== All Chart -js ================== -->
    <script src="~/assets/js/Chart.js"></script>
    <!-- ================== End All Chart -js ================== -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    <script>
        // Set initial countdown time (20 minutes)
        let timeLeft = 15 * 60; // 20 minutes in seconds

        function updateTimer() {
            let minutes = Math.floor(timeLeft / 60);
            let seconds = timeLeft % 60;

            // Format with leading zeros
            seconds = seconds < 10 ? '0' + seconds : seconds;

            // Update the UI
            document.getElementById('timer').innerText = `Session Time :  ${minutes}:${seconds}`;

            if (timeLeft <= 0) {
                clearInterval(timerInterval);

                // Show SweetAlert popup on session expiry
                Swal.fire({
                    title: "Session Expired!",
                    text: "Your session has expired. Please log in again.",
                    icon: "warning",
                    confirmButtonText: "OK",
                    allowOutsideClick: false
                }).then(() => {
                    // Redirect to login page or refresh
                    window.location.reload();  // Change URL as needed
                });
            }

            timeLeft--; // Decrease time by 1 second
        }

        // Start the countdown
        let timerInterval = setInterval(updateTimer, 1000);

        // Initial call to display immediately
        updateTimer();
    </script>


    <script>

        $(document).ready(function () {

            handleVisitorsVectorMap();

            var IsAdmin = @Html.Raw(Json.Encode(Session["IsAdmin"]));
            //alert(IsAdmin);
            if (IsAdmin==false || IsAdmin==null )
            {
                var Message ="Access restricted: You do not have permission.";
                var Icon = "info";
                debugger;
                if (Message != null) {
                    if (Icon != null) {
                        Swal.fire({
                            icon: Icon,
                            text: Message,
                            allowOutsideClick: false

                        }).then((result) => {
                            if (result.isConfirmed) {
                                window.location.href = '@Url.Action("Logout", "Login", new { area= "" })';
                            }
                        });
                    }
                }
            }

        });


    </script>


    <script>
        function millisecTodate(milliDate) {
            var date = new Date(milliDate);
            var mnth = ("0" + (date.getMonth() + 1)).slice(-2);
            var day = ("0" + date.getDate()).slice(-2);
            var hours = date.getHours();
            var minutes = date.getMinutes();
            hours = hours < 10 ? '0' + hours : hours;
            minutes = minutes < 10 ? '0' + minutes : minutes;
            var ddmmyyyy = [date.getFullYear(), mnth, day].join("-");
            return ddmmyyyy;
        }

        function convertDate(data) {
            var getdate = parseInt(data.replace("/Date(", "").replace(")/", ""));
            var date = millisecTodate(getdate);
            return date;
        }
        document.addEventListener("DOMContentLoaded", function () {
            const searchInput = document.getElementById('txtGlobalEmployeeSearch');

            if (searchInput) {
                searchInput.addEventListener("keydown", function (event) {
                    if (event.key === "Enter") {
                        event.preventDefault();
                        btnEmployeeInfo();

                    }
                });
            }
        });

    </script>
</body>
</html>
