
@{
    ViewBag.Title = "LMSDashBoard";
    Layout = "~/Views/Shared/_LayoutPageSmartHR.cshtml";
}
<script>
    $(document).ready(function () {

        $('.nav-link').removeClass('active');
        $('.tab-pane').removeClass('show active');


        $('#Dashboard-tab').addClass('active');
        $('#Dashboard-tab-pane').addClass('show active');

        $('#LMSDashboardMenulink').addClass('active');
    });
</script>


<div class="content">


    <!-- Breadcrumb -->
    <div class="d-md-flex d-block align-items-center justify-content-between page-breadcrumb mb-3">
        <div class="my-auto mb-2">
            <h2 class="mb-1">Learning Analytics</h2>
            <nav>
                <ol class="breadcrumb mb-0">
                    <li class="breadcrumb-item">
                        <a href="index.html"><i class="ti ti-smart-home"></i></a>
                    </li>
                    <li class="breadcrumb-item">
                        Training
                    </li>
                    <li class="breadcrumb-item active" aria-current="page">Learning Analytics</li>
                </ol>
            </nav>
        </div>
    </div>
    <!-- /Breadcrumb -->

    <div class="row">

        <!-- Total Exponses -->
        <div class="col-xl-5 col-lg-5 col-md-12 d-flex">
            <div class="card flex-fill">
                <div class="card-header border-0">
                    <div class="d-flex flex-wrap justify-content-between align-items-center">
                        <div class="d-flex align-items-center ">
                            <h5>Learning Employees</h5>
                        </div>
                        <div class="dropdown">
                            <a href="javascript:void(0);" class="btn btn-white border d-inline-flex align-items-center" data-bs-toggle="dropdown">
                                <i class="ti ti-calendar me-1"></i>2025
                            </a>
                            <ul class="dropdown-menu  dropdown-menu-end p-3">
                                <li>
                                    <a href="javascript:void(0);" class="dropdown-item rounded-1">2024</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);" class="dropdown-item rounded-1">2023</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);" class="dropdown-item rounded-1">2022</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="card-body py-0">
                    <div id="learn-employee" style="min-height: 335px;"></div>
                </div>
            </div>
        </div>
        <!-- /Total Exponses -->
        <!-- Total Exponses -->

        <div class="col-xl-3 col-lg-3 col-md-6 d-flex">
            <div class="card flex-fill">
                <div class="card-body pb-0">
                    <div class="d-flex flex-column align-items-center">
                        <div class="p-2 rounded-circle bg-light d-inline-flex align-items-center justify-content-center mb-2">
                            <i class="ti ti-certificate fs-22"></i>
                        </div>
                        <p class="fw-semibold text-dark mb-1">Certification Completed</p>
                        <div class="fw-bold text-dark fs-24 mb-1">225</div>
                        <span class="badge badge-soft-success rounded-pill border border-success mb-1"><i class="ti ti-arrow-up"></i>12%</span>
                        <p class="fs-12 fw-normal d-flex align-items-center text-truncate">
                            from last
                            month
                        </p>
                    </div>
                    <div id="certification-chart" style="min-height: 245px;">
                    </div>
                </div>

            </div>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-6 d-flex">
            <div class="card flex-fill">
                <div class="card-body">
                    <div class="card-header border-0 p-0">
                        <div class="d-flex flex-wrap justify-content-between align-items-center row-gap-3">
                            <div class="d-flex align-items-center ">
                                <h5>Highly Enrolled Courses</h5>
                            </div>
                            <div class="dropdown">
                                <a href="javascript:void(0);" class="btn btn-white border d-inline-flex align-items-center" data-bs-toggle="dropdown">
                                    <i class="ti ti-calendar me-1"></i>2025
                                </a>
                                <ul class="dropdown-menu  dropdown-menu-end p-3">
                                    <li>
                                        <a href="javascript:void(0);" class="dropdown-item rounded-1">2024</a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0);" class="dropdown-item rounded-1">2023</a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0);" class="dropdown-item rounded-1">2022</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="card-body p-0">
                        <div id="enroll-course" style="min-height: 295px;"></div>
                        <p>
                            <i class="ti ti-point-filled me-1 text-info"></i>No of Employees
                            increased by <span class="text-success">+20%</span> from last Week
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <!-- /Total Exponses -->

    </div>

    <div class="card">
        <div class="card-header d-flex align-items-center justify-content-between flex-wrap row-gap-3">
            <h5>Learning Employee List</h5>
            <div class="d-flex my-xl-auto right-content align-items-center flex-wrap row-gap-3">
                <div class="dropdown">
                    <a href="javascript:void(0);" class="dropdown-toggle btn btn-white d-inline-flex align-items-center" data-bs-toggle="dropdown">
                        Sort By : Last 7 Days
                    </a>
                    <ul class="dropdown-menu  dropdown-menu-end p-3">
                        <li>
                            <a href="javascript:void(0);" class="dropdown-item rounded-1">Recently Added</a>
                        </li>
                        <li>
                            <a href="javascript:void(0);" class="dropdown-item rounded-1">Ascending</a>
                        </li>
                        <li>
                            <a href="javascript:void(0);" class="dropdown-item rounded-1">Descending</a>
                        </li>
                        <li>
                            <a href="javascript:void(0);" class="dropdown-item rounded-1">Last Month</a>
                        </li>
                        <li>
                            <a href="javascript:void(0);" class="dropdown-item rounded-1">Last 7 Days</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>


        <div class="card-body">
            <div class="table-responsive">
                <table class="table TablePage4" id="">

                    <thead class="thead-light">
                        <tr>
                            <th class="no-sort">
                                <div class="form-check form-check-md">
                                    <input class="form-check-input" type="checkbox" id="select-all">
                                </div>
                            </th>
                            <th>Employee Name</th>
                            <th>Designation</th>
                            <th>Training Course</th>
                            <th>Status</th>
                            <th>Score(%)</th>
                            <th>Completion Date</th>
                            <th>Feedback</th>
                            <th>Attempts</th>
                            <th>Certificate</th>
                        </tr>
                    </thead>

                    <tbody>
                        <!-- ROW -->
                        <tr>
                            <td>
                                <input class="form-check-input" type="checkbox">
                            </td>
                            <td>
                                <div class="d-flex align-items-center">
                                    <img src="~/assets/AkashAsset/img/user-11.jpg" class="avatar avatar-md rounded-circle me-2">
                                    <span class="fw-medium">Anthony Lewis</span>
                                </div>
                            </td>
                            <td>Accountant</td>
                            <td>Git Training</td>
                            <td><span class="badge bg-success">Completed</span></td>
                            <td>80</td>
                            <td>14 Jun 2025</td>
                            <td>Good</td>
                            <td>01</td>
                            <td><span class="badge bg-success">Issued</span></td>
                        </tr>

                        <tr>
                            <td><input class="form-check-input" type="checkbox"></td>
                            <td>
                                <div class="d-flex align-items-center">
                                    <img src="~/assets/AkashAsset/img/user-13.jpg" class="avatar avatar-md rounded-circle me-2">
                                    <span class="fw-medium">Brian Villalobos</span>
                                </div>
                            </td>
                            <td>App Developer</td>
                            <td>HTML Training</td>
                            <td><span class="badge bg-info">In Progress</span></td>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                        </tr>

                        <tr>
                            <td><input class="form-check-input" type="checkbox"></td>
                            <td>
                                <div class="d-flex align-items-center">
                                    <img src="~/assets/AkashAsset/img/user-12.jpg" class="avatar avatar-md rounded-circle me-2">
                                    <span class="fw-medium">Harvey Smith</span>
                                </div>
                            </td>
                            <td>Technician</td>
                            <td>React Training</td>
                            <td><span class="badge bg-secondary">Not Started</span></td>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                        </tr>

                    </tbody>

                </table>
            </div>
        </div>
    </div>

</div>