
@{
    ViewBag.Title = "Test";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/2.1.2/sweetalert.min.js" integrity="sha512-AA1Bzp5Q0K1KanKKmvN/4d3IRKVlv9PYgwFPvm32nPO6QS8yH1HO7LbgB1pgiOxPtfeg5zEn2ba64MUcqJx6CA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<div id="content" class="app-content">
   
    <h1 class="page-header"> Test View </h1>

    <div class="row">
        <div class="col-lg-12 col-md-12">
            <div class="panel panel-inverse" data-sortable-id="index-1">
                <div class="panel-heading" style="background-color:@Session["HeaderColor"]; color:@Session["HeaderTextColor"]">
                    <h4 class="panel-title">Test View </h4>
                    <div class="panel-heading-btn">
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-default" data-toggle="panel-expand"><i class="fa fa-expand"></i></a>
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-success" data-toggle="panel-reload"><i class="fa fa-redo"></i></a>
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-warning" data-toggle="panel-collapse"><i class="fa fa-minus"></i></a>
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-danger" data-toggle="panel-remove"><i class="fa fa-times"></i></a>
                    </div>
                </div>
                <div class="alert alert-yellow rounded-0 pb-0 d-flex align-items-center mb-0 text-black">
                    <p class="pb-0">

                    </p>
                </div>
                <div class="panel-body">
                    <div class="row justify-content-center">
                        <form role="form" action="/Reports/Rpt_EmployeeWise_Attendance/Rpt_EmployeeWise_Attendance" id="formEmployeeWiseReport" method="post">
                            <div class="row">
                                <div class="col-md-1">
                                    <button type="button" onclick="Swal1()" class="btn btn-sm btn-success"> Swal1</button>
                                </div> 
                                <div class="col-md-1">
                                    <button type="button" onclick="Swal2()" class="btn btn-sm btn-success"> Swal2</button>
                                </div> 
                                <div class="col-md-1">
                                    <button type="button" onclick="Swal3()" class="btn btn-sm btn-success"> Swal3</button>
                                </div> 
                                <div class="col-md-1">
                                    <button type="button" onclick="Swal4()" class="btn btn-sm btn-success"> Swal4</button>
                                </div> 
                                <div class="col-md-1">
                                    <button type="button" onclick="Swal5()" class="btn btn-sm btn-success"> Swal5</button>
                                </div> 
                                <div class="col-md-1">
                                    <button type="button" onclick="Swal6()" class="btn btn-sm btn-success"> Swal6</button>
                                </div> 
                                <div class="col-md-1">
                                    <button type="button" onclick="Swal7()" class="btn btn-sm btn-success"> Swal7</button>
                                </div> 
                                <div class="col-md-1">
                                    <button type="button" onclick="Swal8()" class="btn btn-sm btn-success"> Swal8</button>
                                </div> 
                                <div class="col-md-1">
                                    <button type="button" onclick="Swal9()" class="btn btn-sm btn-success"> Swal9</button>
                                </div> 
                                <div class="col-md-1">
                                    <button type="button" onclick="Swal10()" class="btn btn-sm btn-success"> Swal10</button>
                                </div> 
                                <div class="col-md-1">
                                    <button type="button" onclick="Swal11()" class="btn btn-sm btn-success"> Swal11</button>
                                </div>  
                                <div class="col-md-1">
                                    <button type="button" onclick="Swal12()" class="btn btn-sm btn-success"> Swal12</button>
                                </div>  
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script>
    function Swal1()
    {
        Swal.fire({
            title: 'success!',
            text: 'Swal1?',
            icon: 'error',
            confirmButtonText: 'Cool'
        });
    }
</script>