
@{
    ViewBag.Title = "EmergencyContact";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.5/dist/jquery.validate.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.5/dist/additional-methods.min.js"></script>

<style>
    .table-wrap {
        width: 100%;
        overflow: auto;
    }

    .table-scroll table {
        width: 100%;
        margin: auto;
        /*border-collapse: separate;*/
        border-spacing: 0;
    }

    .table-scroll th {
        background-color: rgba(233, 236, 239, 1) !important;
    }
</style>
<style>
    .MobBxOut {
        margin: 20px 0 30px 0;
        width: fit-content;
        padding: 12px;
        border-radius: 10px;
        background: #000;
        box-shadow: 2px 8px 8px rgba(100, 100, 100, 0.7);
    }

    .MobBxIn {
        width: 160px;
        height: 250px;
        background: #fff;
        border-radius: 10px;
    }

    .MobBxOut .MobBxBtn .BtnBx {
        color: #fff;
        display: flex;
        justify-content: space-between;
        margin-top: 10px;
    }

    .MobBxIn i {
        margin-right: 5px;
    }

    .MobBxIn .Type {
        background: #D80100;
        color: #fff;
        font-size: 16px;
        padding: 5px 10px;
    }

    .MobBxIn .Moblie,
    .Name,
    .Descript {
        font-size: 16px;
        border-bottom: 1px solid lightgray;
        padding: 5px 10px;
        font-weight: 800;
    }
</style>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Public Holiday</title>
</head>
<body>
    <div id="content" class="app-content">
        <!-- BEGIN breadcrumb -->
        <ol class="breadcrumb float-xl-end">
            <li class="breadcrumb-item"><a href="/Dashboard/Dashboard/Dashboard">Dashboard</a></li>
        </ol>
        <!-- END breadcrumb -->
        <!-- BEGIN page-header -->
        <h1 class="page-header">Emergency Contact  </h1>
        <!-- END page-header -->
        <div class="row">
            <div class="col-md-12">
                <!-- BEGIN panel -->
                <div class="panel panel-inverse" data-sortable-id="index-1">
                    <div class="panel-heading" style="background-color:@Session["HeaderColor"]; color:@Session["HeaderTextColor"]">
                        <h4 class="panel-title"> Emergency Contact - List</h4>
                        <div class="panel-heading-btn">
                            <a href="javascript:;" class="btn btn-xs btn-icon btn-default"
                               data-toggle="panel-expand"><i class="fa fa-expand"></i></a>
                            
                              
                        </div>
                    </div>
                    <div class="row">
                        @foreach (var d in ViewBag.EmergencyContactList)
                        {
                            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 d-flex justify-content-center">
                                <div class="MobBxOut">
                                    <div class="MobBxIn">
                                        <div class="Type">
                                            <i class="fa-solid fa-share"></i>
                                            <span>@d.Type</span>
                                        </div>
                                        <div class="Moblie">
                                            <i class="fa-solid fa-phone"></i>
                                            <span>@d.MobileNo</span>

                                        </div>
                                        <div class="Name">
                                            <i class="fa-solid fa-circle-user"></i>
                                            <span>
                                                @d.Name
                                            </span>
                                        </div>
                                        <div class="Descript">
                                            <i class="fa-solid fa-briefcase"></i>
                                            <span>@d.Designation</span>
                                        </div>
                                    </div>
                                    <div class="MobBxBtn">
                                        <div class="row">
                                            <div class="col-3"></div>
                                            <div class="col-6">
                                                <div class="BtnBx">
                                                    <i class="fa-solid fa-square"></i>
                                                    <i class="fa-solid fa-circle-dot"></i>
                                                    <i class="fa-solid fa-play"></i>
                                                </div>
                                            </div>
                                            <div class="col-3"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>

                </div>
                <!-- END panel -->
            </div>
        </div>
    </div>



</body>
</html>

<script>
    $(document).ready(function () {

    });
</script>

<script>
    $('#fixed-header').DataTable({
        scrollY: 300,
        scrollX: true,
        scrollCollapse: true,
        searching: true,
        paging: true,
        fixedColumns: true,
        info: true,
        responsive: false
    });
</script>




