
@{
    ViewBag.Title = "ESS_HRSpaceMenu";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- ================== Icon Css ================== -->
<link href="~/assets/MyCDN/MenuFontStyle.css" rel="stylesheet" />
<link href="~/assets/MyCSS/MenuImages.css" rel="stylesheet" />
<link href="~/Content/Site.css" rel="stylesheet" />
<!-- ================== End SWEEand css ================== -->

<style>
    body {
        background-color: #fff;
    }

    .pace {
        display: none;
    }

    .app-header .navbar-nav .navbar-item .navbar-link {
        padding: 0px;
    }

    input[type="search" i]::-webkit-search-cancel-button {
        margin-right: 20px;
    }

    .col-md-1-5 {
        width: 12.45%;
    }

    .icon3 {
        position: relative;
    }

        .icon3 i {
            font-size: 16px;
            margin: 0;
            display: flex;
            align-items: center;
            justify-content: center;
        }

    .badge3 {
        position: absolute;
        top: -8px;
        display: block;
        background: var(--app-theme);
        line-height: 12px;
        font-weight: 600;
        color: var(--app-theme-color);
        padding: 1px 4px;
        font-size: 8px;
        border-radius: 8px;
        right: -5px;
        z-index: 99;
    }

    .app-sidebar .menu .menu-item.active > .menu-link {
        position: relative;
        z-index: 10;
        color: #fff;
        background-color: #348fe2 !important;
    }


        .app-sidebar .menu .menu-item.active > .menu-link .menu-icon {
            color: #fff;
        }

    .app-sidebar .menu .menu-item .menu-icon {
        width: 26px;
        height: 26px;
        text-align: center;
        line-height: 26px;
        font-size: .875rem;
        margin-top: -3px;
        margin-bottom: -3px;
        color: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 10px;
    }

        .app-sidebar .menu .menu-item .menu-icon i, .app-sidebar .menu .menu-item .menu-icon ion-icon {
            width: 100%;
            height: 100%;
            background-color: #595959;
            border-radius: 6px;
            display: flex;
            align-items: center;
            justify-content: center;
        }

    .important {
        color: red;
    }

    .app-header .navbar-nav .navbar-item .navbar-link {
        margin-right: 40px;
    }

    .col-form-label {
        font-weight: 400;
    }


    @@media only screen and (max-width: 600px) {
        .col-md-1-5 {
            width: 50%;
            margin: 10px 0;
        }

        .app-header .navbar-nav .navbar-item .navbar-link {
            margin-right: 0px;
        }
    }

    @@media only screen and (min-width: 600px) {
        .col-md-1-5 {
            width: 50%;
            margin: 10px 0;
        }
    }

    @@media only screen and (min-width: 768px) {
        .col-md-1-5 {
            width: 33.33%;
            margin: 10px 0;
        }
    }

    @@media only screen and (min-width: 992px) {
        .col-md-1-5 {
            width: 25%;
            margin: 10px 0;
        }
    }

    @@media only screen and (min-width: 1200px) {

        .col-md-1-5 {
            width: 14.28%;
        }
    }
</style>

<style>
    .Userloaderbg {
        background: rgb(0 0 0 / 90%);
        display: flex;
        flex-direction: column;
    }

    .Userloader {
        width: 48px;
        height: 48px;
        border-radius: 50%;
        display: inline-block;
        position: relative;
        border: 3px solid;
        border-color: #FFF #FFF transparent transparent;
        box-sizing: border-box;
        animation: rotation 1s linear infinite;
    }

        .Userloader::after,
        .Userloader::before {
            content: '';
            box-sizing: border-box;
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            margin: auto;
            border: 3px solid;
            border-color: transparent transparent #FF3D00 #FF3D00;
            width: 40px;
            height: 40px;
            border-radius: 50%;
            box-sizing: border-box;
            animation: rotationBack 0.5s linear infinite;
            transform-origin: center center;
        }

        .Userloader::before {
            width: 32px;
            height: 32px;
            border-color: #FFF #FFF transparent transparent;
            animation: rotation 1.5s linear infinite;
        }

    .loadingtext {
        color: #FFF;
        display: inline-block;
        position: relative;
        font-size: 18px;
        font-family: Arial, Helvetica, sans-serif;
        box-sizing: border-box;
        margin-top: 10px;
    }

        .loadingtext::after {
            content: '';
            width: 4px;
            height: 4px;
            background: currentColor;
            border-radius: 50%;
            position: absolute;
            bottom: 5px;
            right: -10px;
            box-sizing: border-box;
            animation: animloader 1s linear infinite;
        }

    @@keyframes animloader {
        0% {
            box-shadow: 10px 0 rgba(255, 255, 255, 0), 20px 0 rgba(255, 255, 255, 0);
        }

        50% {
            box-shadow: 10px 0 white, 20px 0 rgba(255, 255, 255, 0);
        }

        100% {
            box-shadow: 10px 0 white, 20px 0 white;
        }
    }

    @@keyframes rotation {
        0% {
            transform: rotate(0deg);
        }

        100% {
            transform: rotate(360deg);
        }
    }

    @@keyframes rotationBack {
        0% {
            transform: rotate(0deg);
        }

        100% {
            transform: rotate(-360deg);
        }
    }
</style>

<style>
    .modal-body-content {
        position: relative;
    }

    /*.table-responsive {
            height: 400px !important;
            overflow-y: auto;
        }*/

    .table thead th {
        position: sticky;
        top: 0;
        z-index: 2;
        background-color: rgba(233, 236, 239, 1) !important; /* Ensure the background color matches */
    }

    .dataTables_scrollBody::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
        background-color: #F5F5F5;
        border-radius: 10px;
        margin-top: 20px;
    }

    .dataTables_scrollBody::-webkit-scrollbar {
        width: 6px;
        height: 10px;
        background-color: #F5F5F5;
    }

    .dataTables_scrollBody::-webkit-scrollbar-thumb {
        background-color: #777;
        border-radius: 10px;
        height: 10px;
    }


    /*THIS VIDEO FORM COLOR-PROFILE PICTURE CSS*/
    .image-container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh; /* Center the image vertically */
    }

    .circle-image {
        width: 50px; /* Adjust the size as needed */
        height: 50px; /* Ensure width and height are equal to make a circle */
        border-radius: 50%;
        object-fit: cover; /* Ensures the image covers the entire container */
    }

    .zoomable-image {
        display: block;
        width: 100%;
        height: auto;
        transition: transform 0.3s ease; /* Smooth transition effect */
    }

        .zoomable-image:hover {
            transform: scale(1.5); /* Initial zoom effect on hover */
            z-index: 999; /* Ensure the image appears on top */
        }

    .extra-zoom:hover {
        transform: scale(2.5); /* Extra zoom effect on hover */
    }

    .app-content {
        padding: 10px 10px 1px 10px;
    }

    .app-header .navbar-brand {
        font-size: 16px;
    }

    .app-header .navbar-nav .navbar-item .navbar-link {
        padding: 0px;
    }
   


    .row {
        --bs-gutter-x:20px;
        --bs-gutter-y:0;
    }
</style>


<style>
    .gradientLine-Div {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px; /* spacing between items, optional */
    flex-wrap: nowrap; /* prevent wrapping */
}


.comingSoonText {
    white-space: nowrap;
}

</style>


<div id="content" class="app-content">
    <div class="pageHeader d-flex align-items-center justify-content-between" style="flex-wrap:nowrap;">
        <h5 class="page-header text-center text-md-start">HR Space</h5>
        <ol class="breadcrumb float-md-end mb-0">
            <li class="breadcrumb-item">
                <a href="@Url.Action("Dashboard", "Dashboard", new { area = "" })">
                    <img src="~/assets/img/Icons/home-button.png" class="img-fluid" style="max-width: 40%;float:right" />
                </a>
            </li>
        </ol>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-inverse" data-sortable-id="index-1">
                <div class="alert alert-yellow rounded-0 pb-0 d-flex align-items-center mb-0 text-black">
                    <p> HR Space</p>
                </div>

                <br />

                <div class="navbar-item navbar-form">
                    <form action="" method="POST" name="search">
                        <div class="input-group">
                            <input type="search" class="form-control" id="txtGlobalEmployeeSearch" placeholder="Search Employee..." autocomplete="off" />
                            <span class="input-group-text bg-white border-start-0" onclick="btnEmployeeInfo()" style="cursor:pointer;">
                                <i class="fa fa-search text-muted"></i>
                            </span>

                        </div>
                    </form>
                </div>



                <div class="panel-body">
                    <div class="gradientLine-Div">
                        <div class="gradientLine1"></div>
                        <div class="comingSoonText"><strong>HR Space Menu</strong></div>
                        <div class="gradientLine2"></div>
                    </div>


                    <div class="row">
                        <div class="col-md-12">
                            <div class="row" style="padding: 0px 5px;">
                                @foreach (var item in ViewBag.GetUserMenuList)
                                {
                                    <a href="@Url.Action(item.ViewName.ToString(), item.ControllerName.ToString(), new { area = item.AreaName.ToString(), id = item.ModuleID, ScreenId = item.ScreenId })" class="col-md-2 col-3 d-flex" style="text-decoration:none !important; padding: 0px 5px;">

                                        <div class="quickLinks-box" style="margin-bottom: 10px;">
                                            <img src="~/assets/MenuImages/@item.Icon" width="50px" height="50px" />
                                            <h3>@item.ScreenDisplayMenuName</h3>
                                        </div>
                                    </a>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>










 <!-- #Start modal-dialog myEmployeeCardNoModal -->
<div class="modal fade" id="myEmployeeInfoModal" data-bs-backdrop="static" data-bs-keyboard="true" data-bs-theme="dark">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header bg-black text-white">
                <h4 class="modal-title">Employee Info</h4>
            </div>
           
            <div class="modal-body">
                <!-- BEGIN panel -->
                <div class="modal-body-content">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="table-responsive">
                                <table class="table table-bordered tblInnerAddData" id="tblEmployeeGlobalSearch" style="width: 100%">
                                    <thead class="thead-light" style="position: sticky; top: 0; z-index: 1;">
                                        <tr>
                                            <th class="text-nowrap">Employee No</th>
                                            <th class="text-nowrap">Employee Card No </th>
                                            <th class="text-nowrap">Employee Name</th>
                                            <th class="text-nowrap">Status</th>
                                            <th class="text-nowrap">Company Name </th>
                                            <th class="text-nowrap">Business Unit </th>
                                            <th class="text-nowrap">Department Name</th>
                                            <th class="text-nowrap">Sub Department Name</th>
                                            <th class="text-nowrap">Designation Name</th>
                                            <th class="text-nowrap">Grade Name</th>
                                            <th class="text-nowrap">Contractor Name</th>
                                            <th class="text-nowrap">Employee Group</th>
                                            <th class="text-nowrap">Employee Type</th>
                                            <th class="text-nowrap">Employee Level</th>
                                            <th class="text-nowrap">Wage Category</th>
                                            <th class="text-nowrap">Cost center</th>
                                            <th class="text-nowrap">Sub Unit</th>
                                            <th class="text-nowrap">Critical Stage Applicable </th>
                                            <th class="text-nowrap">Critical Stage Category</th>
                                            <th class="text-nowrap">Line Master</th>
                                            <th class="text-nowrap">Joining Date</th>
                                            <th class="text-nowrap">Confirmation Date</th>

                                            <th class="text-nowrap">Leaving Date</th>
                                            <th class="text-nowrap">OT Applicable</th>
                                            <th class="text-nowrap">COFF Applicable </th>
                                            <th class="text-nowrap">Week 1 OFF Applicable</th>
                                            <th class="text-nowrap">Week 2 OFF Applicable </th>
                                            <th class="text-nowrap">Aadhar No</th>
                                            <th class="text-nowrap">Pan No </th>
                                            <th class="text-nowrap">Primary Mobile No </th>
                                            <th class="text-nowrap">Gender </th>
                                            <th class="text-nowrap">MaritalStatus </th>
                                        </tr>
                                    </thead>
                                    <tbody id="tblBodyHeadEmployeeInfo"></tbody>
                                </table>
                            </div>

                        </div>
                    </div>
                </div>
                <!-- END panel -->
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger btnpress CloseModel" id="CloseModel" data-bs-dismiss="modal" aria-hidden="true">
                    <i class="fa-solid fa-share-from-square"></i> Close
                </button>
            </div>
        </div>
    </div>
</div>
<!-- #End modal-dialog -->


<script>
    $(".SearchTextareaShow").click(function () {
        $('.SearchTextArea').css({ 'display': 'block' });
        $('.SearchTextareaShow').css({ 'display': 'none' });
        $('.SearchTextareahide').css({ 'display': 'block' });
        $('#txtGlobalEmployeeSearch').attr("id", "txtGlobalEmployeeSearchhide");
        $('#txtGlobalEmployeeSearch2').attr("id", "txtGlobalEmployeeSearch");
    });
    $(".SearchTextareahide").click(function () {
        $('.SearchTextArea').css({ 'display': 'none' });
        $('.SearchTextareahide').css({ 'display': 'none' });
        $('.SearchTextareaShow').css({ 'display': 'block' });
        $('#txtGlobalEmployeeSearch').attr("id", "txtGlobalEmployeeSearch2");
        $('#txtGlobalEmployeeSearchhide').attr("id", "txtGlobalEmployeeSearch");
    });
</script>




<script>
    document.addEventListener('DOMContentLoaded', function () {
        debugger
        const searchInput = document.getElementById('txtGlobalEmployeeSearch');
        var searchInput1 = $("#txtGlobalEmployeeSearch").val();


        const handleEvent = function (event) {
            if (event.key === "Enter" || event.type === "click") {
                event.preventDefault();
                btnEmployeeInfo();
            }
        };
        searchInput.addEventListener("keydown", handleEvent);
        searchInput.addEventListener("touchend", handleEvent);
    });

    function btnEmployeeInfo() {
        debugger;
        var SearchText = $("#txtGlobalEmployeeSearch").val();
        if (SearchText != "") {
            $(".Userloaderbg").css("display", "flex");
            $.ajax({
                type: 'GET',
                dataType: 'JSON',
                url: '@Url.Action("EmployeeHRSearch", "ESS_HRSpaceMenu", new { area = "ESS" })',
                data: { SearchText: SearchText },
                success: function (data) {
                    debugger;
                    if (data == "") {
                        Swal.fire({
                            icon: 'error',
                            text: 'Record Not Found',
                            allowOutsideClick: () => {
                                const popup = Swal.getPopup()
                                popup.classList.remove('swal2-show')
                                setTimeout(() => {
                                    popup.classList.add('animate__animated', 'animate__headShake')
                                })
                                setTimeout(() => {
                                    popup.classList.remove('animate__animated', 'animate__headShake')
                                }, 500)
                                return false
                            }
                        });
                    }
                    $(".Userloaderbg").css("display", "none");
                    if (data && data.length > 0) {
                        $('#tblEmployeeGlobalSearch').DataTable({
                            data: data,
                            destroy: true,
                            columns: [
                                       { data: 'EmployeeNo' },
                                       { data: 'EmployeeCardNo' },
                                       { data: 'EmployeeName' },
                                       { data: 'EmployeeLeft' },
                                       { data: 'CompanyName' },
                                       { data: 'BranchName' },
                                       { data: 'DepartmentName' },
                                       { data: 'SubDepartment' },
                                       { data: 'DesignationName' },
                                       { data: 'GradeName' },
                                       { data: 'Contractor' },
                                       { data: 'EmployeeGroup' },
                                       { data: 'EmployeeType' },
                                       { data: 'EmployeeLevel' },
                                       { data: 'WageCategory' },
                                       { data: 'CostCenter' },
                                       { data: 'Unit' },
                                       { data: 'CriticalStageApplicable' },
                                       { data: 'CriticalStage' },
                                       { data: 'LineName' },
                                       { data: 'JoiningDate' },
                                       { data: 'ConfirmationDate' },
                                       { data: 'LeavingDate' },
                                       { data: 'OT' },
                                       { data: 'CoffApplicable' },
                                       { data: 'WOFF1' },
                                       { data: 'WOFF2' },
                                       { data: 'AadharNo' },
                                       { data: 'PanNo' },
                                       { data: 'PrimaryMobileNo' },
                                       { data: 'Gender' },
                                       { data: 'MaritalStatus' }
                            ]
                        });
                        $('#myEmployeeInfoModal').modal('show');
                    } else {
                        $('#myEmployeeInfoModal').modal('hide');
                    }
                },
                error: function () {
                    // Handle errors
                }
            });
        }
        else {
            $(".Userloaderbg").css("display", "none");
        }
    }
</script>