 body {
        font-family: roboto;
        background-color: #ffffff;
    }

    .app-header-fixed {
        padding-top: 0;
    }

    .app-content {
        padding: 2px 20px;
    }
.panel-body{
    padding-left: 0px !important;
    padding-right: 0px !important;
}
.quickLinks-container {
    padding: 5px;
    background: #fff;
    /*        border-radius: 10px;*/
    /*        box-shadow: 0 1px 2px rgba(0,0,0,0.1);*/
}

    .quickLinks-container h3 {
            /*            margin-bottom: 0px;*/
            color: #333;
            font-size: 0.7rem;
            text-align: center;
        }

    .quickLinks-box {
        flex: 1;
        display: flex;
        flex-direction: column;
        gap: 10px;
        align-items: center;
        padding: 10px 5px;
        text-align: left;
        transition: transform 0.3s ease;
        border-radius: 7px;
        /*        box-shadow: 0 1px 2px rgba(0,0,0,0.1);*/
        border: 1px solid #D9D9D9;
/*        height: 115px;*/
        /*width: 160px;*/
    }

    .quickLinks-box:hover {
            transform: translateY(-5px);
        }

    .quickLinks-box h3 {
            text-align: center;
            margin: 0;
            font-size: 0.8rem;
            color: #555;
            font-weight: 600;
        }

    .quickLinks-boxes a {
        padding: 5px;
    }

    .gradientLine-Div {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        margin: 10px 0px;
    }

    .gradientLine1 {
        width: 50%;
        height: 1px;
        background: linear-gradient(to left, #000000, #66666600);
    }

    .gradientLine2 {
        width: 50%;
        height: 1px;
        background: linear-gradient(to right, #000000, #66666600);
    }

    @media screen and (max-width: 500px) {

        .quickLinks-boxes {
            justify-content: space-evenly;
        }

        .quickLinks-box h3 {
            font-size: 0.5rem;
        }

        .quickLinks-box img {
            width: 50%;
            /*            margin-top: 5px;*/
        }

        .quickLinks-container h2 {
            font-size: 0.9rem;
        }

        .sliderCard {
            margin-top: 10px;
        }
    }

    @media screen and (max-width: 365px) {
        .quickLinks-box {
            padding: 10px 3px;
/*            height: 120px;*/
        }

        .quickLinks-boxes a {
            padding: 3px;
        }
    }

    

    @media screen and (max-width: 350px) {
        .quickLinks-box {
            padding: 10px 2px;
/*            height: 120px;*/
        }

        .quickLinks-boxes a {
            padding: 2px;
        }
    }

    .vms-container {
        /*        margin-bottom: 50px;*/
    }

    .swiper {
        width: 100%;
        /*        height: 100%;*/
    }

    .swiper-slide {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }