@{
    ViewBag.Title = "HolidayList";
    Layout = "~/Views/Shared/_LayoutPageSmartHR.cshtml";
}
<script>
    $(document).ready(function () {

        $('.nav-link').removeClass('active');
        $('.tab-pane').removeClass('show active');

        $('#Menu-tab').addClass('active');
        $('#Menu-tab-pane').addClass('show active');

        $('#DashboardMenulink').addClass('active');
    });
</script>


<div class="content">

    <!-- Breadcrumb -->
    <div class="d-md-flex d-block align-items-center justify-content-between page-breadcrumb mb-3">
        <div class="my-auto mb-2">
            <h2 class="mb-1">Holidays</h2>
            <nav>
                <ol class="breadcrumb mb-0">
                    <li class="breadcrumb-item">
                        <a href="index.html"><i class="ti ti-smart-home"></i></a>
                    </li>
                    <li class="breadcrumb-item">
                        HRM
                    </li>
                    <li class="breadcrumb-item active" aria-current="page">Holidays</li>
                </ol>
            </nav>
        </div>
        <div class="d-flex my-xl-auto right-content align-items-center flex-wrap ">
            <div class="mb-2">
                <a href="#" data-bs-toggle="modal" data-bs-target="#add_holiday"
                   class="btn btn-primary d-flex align-items-center">
                    <i class="ti ti-circle-plus me-2"></i>Add Holiday
                </a>
            </div>
            <div class="head-icons ms-2">
                <a href="javascript:void(0);" class="" data-bs-toggle="tooltip" data-bs-placement="top"
                   data-bs-original-title="Collapse" id="collapse-header">
                    <i class="ti ti-chevrons-up"></i>
                </a>
            </div>
        </div>
    </div>
    <!-- /Breadcrumb -->

    <div class="card">
        <div class="card-header d-flex align-items-center justify-content-between flex-wrap gap-3">
            <h5 class="mb-0">Holidays List</h5>
            <div class="d-flex gap-2">
                <a href="#" class="btn btn-primary btn-sm" data-bs-toggle="modal"
                   data-bs-target="#add_holiday_modal">
                    <i class="ti ti-plus me-1"></i>Add New
                </a>
            </div>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-nowrap TablePage4 mb-0">
                    <thead>
                        <tr>
                            <th>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" id="select-all">
                                </div>
                            </th>
                            <th>Title</th>
                            <th>Date</th>
                            <th>Description</th>
                            <th>Status</th>
                            <th style="width: 100px;">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <div class="form-check">
                                    <input class="form-check-input row-checkbox" type="checkbox">
                                </div>
                            </td>
                            <td>
                                <h6 class="fw-medium mb-1">New Year</h6>
                            </td>
                            <td>
                                <h6 class="fw-normal">
                                    <i class="ti ti-calendar-event me-1 text-muted"></i>01 Jan 2024
                                </h6>
                            </td>
                            <td>First day of the new year</td>
                            <td>
                                <span class="badge badge-success-transparent text-success">Active</span>
                            </td>
                            <td>
                                <div class="d-flex gap-1">
                                    <a href="#" class="btn btn-sm btn-outline-primary"
                                       data-bs-toggle="modal" data-bs-target="#edit_holiday" title="Edit">
                                        <i class="ti ti-edit"></i>
                                    </a>
                                    <a href="#" class="btn btn-sm btn-outline-danger" data-bs-toggle="modal"
                                       data-bs-target="#delete_modal" title="Delete">
                                        <i class="ti ti-trash"></i>
                                    </a>
                                </div>
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <div class="form-check">
                                    <input class="form-check-input row-checkbox" type="checkbox">
                                </div>
                            </td>
                            <td>
                                <h6 class="fw-medium mb-1">Martin Luther King Jr. Day</h6>
                            </td>
                            <td>
                                <h6 class="fw-normal">
                                    <i class="ti ti-calendar-event me-1 text-muted"></i>15 Jan 2024
                                </h6>
                            </td>
                            <td>Celebrating the civil rights leader</td>
                            <td>
                                <span class="badge badge-success-transparent text-success">Active</span>
                            </td>
                            <td>
                                <div class="d-flex gap-1">
                                    <a href="#" class="btn btn-sm btn-outline-primary"
                                       data-bs-toggle="modal" data-bs-target="#edit_holiday" title="Edit">
                                        <i class="ti ti-edit"></i>
                                    </a>
                                    <a href="#" class="btn btn-sm btn-outline-danger" data-bs-toggle="modal"
                                       data-bs-target="#delete_modal" title="Delete">
                                        <i class="ti ti-trash"></i>
                                    </a>
                                </div>
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <div class="form-check">
                                    <input class="form-check-input row-checkbox" type="checkbox">
                                </div>
                            </td>
                            <td>
                                <h6 class="fw-medium mb-1">President's Day</h6>
                            </td>
                            <td>
                                <h6 class="fw-normal">
                                    <i class="ti ti-calendar-event me-1 text-muted"></i>19 Feb 2024
                                </h6>
                            </td>
                            <td>Honoring past US Presidents</td>
                            <td>
                                <span class="badge badge-success-transparent text-success">Active</span>
                            </td>
                            <td>
                                <div class="d-flex gap-1">
                                    <a href="#" class="btn btn-sm btn-outline-primary"
                                       data-bs-toggle="modal" data-bs-target="#edit_holiday" title="Edit">
                                        <i class="ti ti-edit"></i>
                                    </a>
                                    <a href="#" class="btn btn-sm btn-outline-danger" data-bs-toggle="modal"
                                       data-bs-target="#delete_modal" title="Delete">
                                        <i class="ti ti-trash"></i>
                                    </a>
                                </div>
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <div class="form-check">
                                    <input class="form-check-input row-checkbox" type="checkbox">
                                </div>
                            </td>
                            <td>
                                <h6 class="fw-medium mb-1">Good Friday</h6>
                            </td>
                            <td>
                                <h6 class="fw-normal">
                                    <i class="ti ti-calendar-event me-1 text-muted"></i>29 Mar 2024
                                </h6>
                            </td>
                            <td>Holiday before Easter</td>
                            <td>
                                <span class="badge badge-success-transparent text-success">Active</span>
                            </td>
                            <td>
                                <div class="d-flex gap-1">
                                    <a href="#" class="btn btn-sm btn-outline-primary"
                                       data-bs-toggle="modal" data-bs-target="#edit_holiday" title="Edit">
                                        <i class="ti ti-edit"></i>
                                    </a>
                                    <a href="#" class="btn btn-sm btn-outline-danger" data-bs-toggle="modal"
                                       data-bs-target="#delete_modal" title="Delete">
                                        <i class="ti ti-trash"></i>
                                    </a>
                                </div>
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <div class="form-check">
                                    <input class="form-check-input row-checkbox" type="checkbox">
                                </div>
                            </td>
                            <td>
                                <h6 class="fw-medium mb-1">Easter Monday</h6>
                            </td>
                            <td>
                                <h6 class="fw-normal">
                                    <i class="ti ti-calendar-event me-1 text-muted"></i>01 Apr 2024
                                </h6>
                            </td>
                            <td>Holiday after Easter</td>
                            <td>
                                <span class="badge badge-success-transparent text-success">Active</span>
                            </td>
                            <td>
                                <div class="d-flex gap-1">
                                    <a href="#" class="btn btn-sm btn-outline-primary"
                                       data-bs-toggle="modal" data-bs-target="#edit_holiday" title="Edit">
                                        <i class="ti ti-edit"></i>
                                    </a>
                                    <a href="#" class="btn btn-sm btn-outline-danger" data-bs-toggle="modal"
                                       data-bs-target="#delete_modal" title="Delete">
                                        <i class="ti ti-trash"></i>
                                    </a>
                                </div>
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <div class="form-check">
                                    <input class="form-check-input row-checkbox" type="checkbox">
                                </div>
                            </td>
                            <td>
                                <h6 class="fw-medium mb-1">Memorial Day</h6>
                            </td>
                            <td>
                                <h6 class="fw-normal">
                                    <i class="ti ti-calendar-event me-1 text-muted"></i>27 Apr 2024
                                </h6>
                            </td>
                            <td>Honors military personnel</td>
                            <td>
                                <span class="badge badge-success-transparent text-success">Active</span>
                            </td>
                            <td>
                                <div class="d-flex gap-1">
                                    <a href="#" class="btn btn-sm btn-outline-primary"
                                       data-bs-toggle="modal" data-bs-target="#edit_holiday" title="Edit">
                                        <i class="ti ti-edit"></i>
                                    </a>
                                    <a href="#" class="btn btn-sm btn-outline-danger" data-bs-toggle="modal"
                                       data-bs-target="#delete_modal" title="Delete">
                                        <i class="ti ti-trash"></i>
                                    </a>
                                </div>
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <div class="form-check">
                                    <input class="form-check-input row-checkbox" type="checkbox">
                                </div>
                            </td>
                            <td>
                                <h6 class="fw-medium mb-1">Independence Day</h6>
                            </td>
                            <td>
                                <h6 class="fw-normal">
                                    <i class="ti ti-calendar-event me-1 text-muted"></i>04 Jul 2024
                                </h6>
                            </td>
                            <td>Celebrates Independence</td>
                            <td>
                                <span class="badge badge-success-transparent text-success">Active</span>
                            </td>
                            <td>
                                <div class="d-flex gap-1">
                                    <a href="#" class="btn btn-sm btn-outline-primary"
                                       data-bs-toggle="modal" data-bs-target="#edit_holiday" title="Edit">
                                        <i class="ti ti-edit"></i>
                                    </a>
                                    <a href="#" class="btn btn-sm btn-outline-danger" data-bs-toggle="modal"
                                       data-bs-target="#delete_modal" title="Delete">
                                        <i class="ti ti-trash"></i>
                                    </a>
                                </div>
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <div class="form-check">
                                    <input class="form-check-input row-checkbox" type="checkbox">
                                </div>
                            </td>
                            <td>
                                <h6 class="fw-medium mb-1">Labour Day</h6>
                            </td>
                            <td>
                                <h6 class="fw-normal">
                                    <i class="ti ti-calendar-event me-1 text-muted"></i>02 Sep 2024
                                </h6>
                            </td>
                            <td>Honors working people</td>
                            <td>
                                <span class="badge badge-danger-transparent text-danger">Inactive</span>
                            </td>
                            <td>
                                <div class="d-flex gap-1">
                                    <a href="#" class="btn btn-sm btn-outline-primary"
                                       data-bs-toggle="modal" data-bs-target="#edit_holiday" title="Edit">
                                        <i class="ti ti-edit"></i>
                                    </a>
                                    <a href="#" class="btn btn-sm btn-outline-danger" data-bs-toggle="modal"
                                       data-bs-target="#delete_modal" title="Delete">
                                        <i class="ti ti-trash"></i>
                                    </a>
                                </div>
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <div class="form-check">
                                    <input class="form-check-input row-checkbox" type="checkbox">
                                </div>
                            </td>
                            <td>
                                <h6 class="fw-medium mb-1">Veterans Day</h6>
                            </td>
                            <td>
                                <h6 class="fw-normal">
                                    <i class="ti ti-calendar-event me-1 text-muted"></i>11 Nov 2024
                                </h6>
                            </td>
                            <td>Honors military veterans</td>
                            <td>
                                <span class="badge badge-success-transparent text-success">Active</span>
                            </td>
                            <td>
                                <div class="d-flex gap-1">
                                    <a href="#" class="btn btn-sm btn-outline-primary"
                                       data-bs-toggle="modal" data-bs-target="#edit_holiday" title="Edit">
                                        <i class="ti ti-edit"></i>
                                    </a>
                                    <a href="#" class="btn btn-sm btn-outline-danger" data-bs-toggle="modal"
                                       data-bs-target="#delete_modal" title="Delete">
                                        <i class="ti ti-trash"></i>
                                    </a>
                                </div>
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <div class="form-check">
                                    <input class="form-check-input row-checkbox" type="checkbox">
                                </div>
                            </td>
                            <td>
                                <h6 class="fw-medium mb-1">Christmas Day</h6>
                            </td>
                            <td>
                                <h6 class="fw-normal">
                                    <i class="ti ti-calendar-event me-1 text-muted"></i>25 Dec 2024
                                </h6>
                            </td>
                            <td>Celebration of Christmas</td>
                            <td>
                                <span class="badge badge-success-transparent text-success">Active</span>
                            </td>
                            <td>
                                <div class="d-flex gap-1">
                                    <a href="#" class="btn btn-sm btn-outline-primary"
                                       data-bs-toggle="modal" data-bs-target="#edit_holiday" title="Edit">
                                        <i class="ti ti-edit"></i>
                                    </a>
                                    <a href="#" class="btn btn-sm btn-outline-danger" data-bs-toggle="modal"
                                       data-bs-target="#delete_modal" title="Delete">
                                        <i class="ti ti-trash"></i>
                                    </a>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>